body {
  font-family: Lato;
  .tasklist {
      overflow: auto;
      background-color: #C9F1F2;
      min-height: 100%;
      position: relative;
      li {
        width: 100%;
        list-style-type: none;
        margin-left: -35px;
        &.odd {
          background-color: #C9F1F2;
        }
        &.even {
          background-color: #FFFFFF;
        }
      }
  }
}
